body{
    overflow-x: hidden;
    background-color: #3b4664;
}

#calc
{
    height: 20px;
    width: 58px;
    top: 148px;
    left: 466px;
    position: absolute;
    font-family: inter;
    font-weight: 800;
    font-size: 28px;
    line-height: 33.89px;
    color: #ffffff;
    
    
} 
#result{
    width: 536px;
    height: 142.73px;
    top: 194px;
    left: 466px;
    border-radius: 12px;
    background-color: #181f32;
    position: absolute;
    color: #ffffff;
    font-family: 'Segoe UI';
    font-weight: 700;
    text-align: right;
    font-size: 55px;
    line-height: 73.15px;

}

#result1
{
    width: 276px;
    height: 42px;
    top: 244px;
    left: 691px;
    position: relative;
    color: #ffffff;
}
#numbers
{
    width: 536px;
    height: 487px;
    top: 363px;
    border-radius: 12px;
    background-color: #252d44;
    left: 466px;
    position: absolute;
   }
#box{
    width: 466px;
    height: 392px;
    top: 48px;
    left: 35px;
    gap: 23px; 
    position: absolute;
    display: grid;
    gap: 22px;
} 
#row1
{
    width: 466px;
    height: 60px;
    gap: 22px;
    display: flex;
    flex-direction: row;
}
#row2
{
    width: 466px;
    height: 60px;
    gap: 22px;
    display: flex;
    flex-direction: row;
}
#row3
{
    width: 466px;
    height: 60px;
    gap: 22px;
    display: flex;
    flex-direction: row;
}
#row4
{
    width: 466px;
    height: 60px;
    gap: 22px;
    display: flex;
    flex-direction: row;
}
#row5{
    width: 466px;
    height: 60px;
    gap: 21.13px;
}
.buttons
{
    width: 100px;
    height: 60px;
    border-radius: 12px;
    background-color: #eae3d8;
    font-weight: 800;
    font-family: Inter;
    top: 19px;
    left: 39px;
    font-size: 33px;
    line-height: 36.31px;
    text-align: center;
    color: #3b4664;
    

} 
.del
{
    width: 100px;
    height: 60px;
    left: 366px;
    position: absolute;
    border-radius: 12px;
    background-color: #647299;
    font-family: inter;
    font-weight: 800;
    font-size: 23.05px;
    text-align: center;
    color: #ffffff;

}
.Reset
{
    width: 222.44px;
    height: 60px;
    border-radius: 11.52px;
    background-color: #647299;
    font-family: inter;
    font-weight: 800;
    font-size: 23.05px;
    text-align: center;
    color: #ffffff;

    }
.equals
{
    width: 222.44px;
    height: 60px;
    border-radius: 11.52px;
    background-color: #d13f30;
    left: 243.56px;
    position: absolute;
    font-family: inter;
    font-weight: 800;
    font-size: 23.05px;
    text-align: center;
    color: #ffffff;

}
